# Bỏ qua môi trường ảo
venv/

# Bỏ qua mô hình học máy
*.h5
*.pkl
*.pt
*.onnx
*.pb

# Bỏ qua file tạm của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bỏ qua log và dữ liệu tạm
*.log
*.csv
*.tmp

# Bỏ qua file hệ thống
.DS_Store
Thumbs.db
